# This file is designed for production server deployment, not local development work
# For a containerized local dev environment, see: https://github.com/mastodon/mastodon/blob/main/README.md#docker

services:

    restart: always
    shm_size: 256mb
    image: hartmutcouk/pg-repack-docker:1.4.7
    networks:
      - internal_network
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
    volumes:
      - ./postgres14:/var/lib/postgresql/data
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'

# If you use pgbouncer, uncomment.
#  db:
#    restart: always
#    image: pgbouncer/pgbouncer
#    networks:
#     - internal_network
#    environment:
#      DATABASES_HOST: db_backend
#      DATABASES_USER: mastodon
#      DATABASES_DBNAME: mastodon
#      DATABASES_PASSWORD: yourpassword
#      DATABASES_PORT: 5432
#      #PGBOUNCER_LOGFILE: /var/log/pgbouncer/pgbouncer.log
#      #PGBOUNCER_PIDFILE: /var/run/pgbouncer/pgbouncer.pid
#      #PGBOUNCER_LISTEN_ADDR: 127.0.0.1
#      PGBOUNCER_LISTEN_PORT: 6432
#      #PGBOUNCER_UNIX_SOCKET_DIR: /var/run/postgresql
#      PGBOUNCER_AUTH_TYPE: md5
#      PGBOUNCER_AUTH_FILE: /etc/pgbouncer/userlist.txt
#      PGBOUNCER_ADMIN_USERS: pgbouncer
#      PGBOUNCER_DEFAULT_POOL_SIZE: 20
#      PGBOUNCER_RESERVE_POOL_SIZE: 3
#      PGBOUNCER_MAX_CLIENT_CONN: 2048
#      PGBOUNCER_POOL_MODE: transaction
#      PGBOUNCER_SERVER_IDLE_TIMEOUT: 30
#   volumes:
#     - ./pgbouncer:/etc/pgbouncer
#   ports:
#     - "127.0.0.1:6432:6432"
#   depends_on:
#     - db_backend
#   healthcheck:
#     test: ps aux | grep -v grep | grep pgbouncer

  redis:
    restart: always
    image: redis:7-alpine
    networks:
      - internal_network
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    volumes:
      - ./redis:/data

  # es:
  #   restart: always
  #   image: docker.elastic.co/elasticsearch/elasticsearch:7.17.4
  #   environment:
  #     - "ES_JAVA_OPTS=-Xms512m -Xmx512m -Des.enforce.bootstrap.checks=true"
  #     - "xpack.license.self_generated.type=basic"
  #     - "xpack.security.enabled=false"
  #     - "xpack.watcher.enabled=false"
  #     - "xpack.graph.enabled=false"
  #     - "xpack.ml.enabled=false"
  #     - "bootstrap.memory_lock=true"
  #     - "cluster.name=es-mastodon"
  #     - "discovery.type=single-node"
  #     - "thread_pool.write.queue_size=1000"
  #   networks:
  #      - external_network
  #      - internal_network
  #   healthcheck:
  #      test: ["CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1"]
  #   volumes:
  #      - ./elasticsearch:/usr/share/elasticsearch/data
  #   ulimits:
  #     memlock:
  #       soft: -1
  #       hard: -1
  #     nofile:
  #       soft: 65536
  #       hard: 65536
  #   ports:
  #     - '127.0.0.1:9200:9200'

  web:
    # You can uncomment the following line if you want to not use the prebuilt image, for example if you have local code changes
    # build: .
    image: ghcr.io/mastodon/mastodon:v4.3.8
    restart: always
    env_file: .env.production
    command: bundle exec puma -C config/puma.rb
    networks:
      - external_network
      - internal_network
    healthcheck:
      # prettier-ignore
      test: ['CMD-SHELL',"curl -s --noproxy localhost localhost:3000/health | grep -q 'OK' || exit 1"]
    ports:
      - '127.0.0.1:3000:3000'
    depends_on:
      - db_backend
#      - db
      - redis
      # - es
    volumes:
      - ./public/system:/mastodon/public/system

  streaming:
    # You can uncomment the following lines if you want to not use the prebuilt image, for example if you have local code changes
    # build:
    #   dockerfile: ./streaming/Dockerfile
    #   context: .
    image: ghcr.io/mastodon/mastodon-streaming:v4.3.8
    restart: always
    env_file: .env.production
    command: node ./streaming/index.js
    networks:
      - external_network
      - internal_network
    healthcheck:
      # prettier-ignore
      test: ['CMD-SHELL', "curl -s --noproxy localhost localhost:4000/api/v1/streaming/health | grep -q 'OK' || exit 1"]
    ports:
      - '127.0.0.1:4000:4000'
    depends_on:
      - db_backend
#      - db
      - redis

  sidekiq:
    # You can uncomment the following line if you want to not use the prebuilt image, for example if you have local code changes
    # build: .
    image: ghcr.io/mastodon/mastodon:v4.3.8
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq
    depends_on:
      - db_backend
#      - db
      - redis
    networks:
      - external_network
      - internal_network
    volumes:
      - ./public/system:/mastodon/public/system
    healthcheck:
      test: ['CMD-SHELL', "ps aux | grep '[s]idekiq\ 6' || false"]

  ## Uncomment to enable federation with tor instances along with adding the following ENV variables
  ## http_hidden_proxy=http://privoxy:8118
  ## ALLOW_ACCESS_TO_HIDDEN_SERVICE=true
  # tor:
  #   image: sirboops/tor
  #   networks:
  #      - external_network
  #      - internal_network
  #
  # privoxy:
  #   image: sirboops/privoxy
  #   volumes:
  #     - ./priv-config:/opt/config
  #   networks:
  #     - external_network
  #     - internal_network

## If you want to run the docker on a local, uncomment.
  nginx:
    build:
      context: .
      dockerfile: local/Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - streaming
    networks:
      - external_network
      - internal_network
    volumes:
      - ./local/letsencrypt:/etc/letsencrypt:ro
      - ./local/sites-available:/etc/nginx/sites-available:ro

networks:
  external_network:
  internal_network:
    internal: true
